
.container {    
    display : flex;                      // container이름의 객체에 스타일링 해주기

    margin-top: 0px;
};

 .sidebar {
   flex:1;  
   min-width: 180px;
   max-width: 200px;
   background-color: #0e1e2d;
   height : 100vh;
   position : sticky; 
};
.content { 
  flex:8; 
 }; 