.content {
    background-color: azure;
    min-height: 528px;
    height: calc(100vh - 64px);
}

.searchStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}