.content {
    background-color: #eeeff1;
    min-height: 700px;
}

.searchStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 65px;
}