.content {
    background-color: #eeeff1;
    min-height: 700px;
}

.searchStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.checkboxSearchStack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.buttonSearchStack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}