.sidebarWrapper{
    color :  #cbd2dc;;
    padding : 10px;
    padding-top: 0px;
}
.sidebarMenu{
    margin-top : 0px;
    margin-bottom:2rem;
}
.sidebarTitle{
    top:0px;
    font-size : 1.3rem;
    color : white;
}
.sidebarList{
    list-style : none;
    padding:0.5rem;
    position: relative;  /* 아래쪽 공간 확보 */
    padding-bottom: 50px; /* 아래쪽 공간 확보 */
}
.sidebarListItem{
    padding:5px;
    cursor:pointer;
    display:flex;
    align-items : center;
    border-radius: 10px;
    position: relative; /* 기본 상대 위치 */
}
.sidebarListItem:active{
    background-color :  #303031;
}
.sidebarListItem:hover
{
    background-color :  #303031;
}
.sidebarListItem:last-child {
    position: fixed; /* 브라우저 창 기준으로 고정 */
    bottom: 10px; /* 브라우저 하단으로 이동 */
    padding: 10px; /* 아이콘과 텍스트에 여백 추가 */
}